*.pyc
*.ipynb_checkpoints*
COORD_PATH-resnet18_base/
COORD_PATH-resnet18_crf-newly_trained/
COORD_PATH/
MASK_PATH/
PATCHES_NORMAL_TRAIN/
PATCHES_NORMAL_VALID/
PATCHES_TUMOR_TRAIN/
PATCHES_TUMOR_VALID/
PROBS_MAP_IMG_PATH/
PROBS_MAP_PATH-resnet18_base/
PROBS_MAP_PATH-resnet18_crf-newly_trained/
PROBS_MAP_PATH/
WSI_TEST/
WSI_TRAIN/
resnet18_crf_save_dir/
*.swp
